@model IEnumerable<DSAR.Models.ViewModels.RequestListItemViewModel>
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

<div class="container list-container">
 

    <h2 class="list-title">قائمة الطلبات</h2>

    <table class="table list-table">
        <thead>
            <tr>
                <th>رقم الطلب</th>
                <th>رقم المستخدم</th>
                <th>الحالة</th>
                <th>الإدارة</th>
                <th>القسم</th>
                <th></th> <!-- Actions -->
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td data-label="رقم الطلب">@r.RequestId</td>
                    <td data-label="رقم المستخدم">@r.UserId</td>
                    <td data-label="الحالة">@r.StatusName</td>
                    <td data-label="الإدارة">@r.DepartmentName</td>
                    <td data-label="القسم">@r.SectionName</td>
                    <td data-label="إجراءات">
                        <a asp-action="CombinedView" asp-controller="Request" asp-route-id="@r.RequestId" class="btn btn-sm btn-info">
                            تفاصيل
                        </a>
                        <a asp-action="ChangeLevel" asp-route-id="@r.RequestId" class="btn btn-sm btn-warning">
                            تراجع مستوى
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
