@model DSAR.ViewModels.CaseStudyViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المراجع والملاحظات</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/analyzer.css" asp-append-version="true" />

</head>

<body>
    <form asp-action="CaseStudy" method="post" enctype="multipart/form-data" class="container">
        <table>
            <tr>
                <th>الملاحظات</th>
                <th>المراجع</th>
            </tr>

            @if (!string.IsNullOrWhiteSpace(Model.SectionNotes))
            {
                <tr>
                    <td>@Model.SectionNotes</td>
                    <td><h4>ملاحظة مدير القسم</h4></td>
                </tr>
            }

            @if (!string.IsNullOrWhiteSpace(Model.DepartmentNotes))
            {
                <tr>
                    <td>@Model.DepartmentNotes</td>
                    <td><h4>ملاحظة مدير الإدارة</h4></td>
                </tr>
            }

       
        </table>

        <div class="form-group">
            <label asp-for="WorkTeam"></label>
            <input asp-for="WorkTeam" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Notes"></label>
            <textarea asp-for="Notes" class="form-control" rows="4"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="restriction"></label>
            <textarea asp-for="restriction" class="form-control" rows="4"></textarea>
        </div>

        <div class="attachment">
            <input type="file" id="CaseStudyAttachment" name="CaseStudyAttachment" style="display: none;" />
            <label for="CaseStudyAttachment" style="cursor: pointer;">
                <img src="~/images/link.png" alt="إرفاق ملف" style="width: 24px;" />
            </label>
        </div>


        <div class="buttons">
            <input asp-route-caseId="@Model.CaseId" asp-route-userId="@Model.UserId" asp-route-requestId="@Model.RequestId" class="btn accept-btn" type="submit" value="قبول الطلب" />
        </div>
    </form>
</body>
</html>
