@model DSAR.ViewModels.RequestViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <title>عرض الوصف التفصيلي</title>
    <link rel="stylesheet" href="~/css/StepDescreptionView.cSs" asp-append-version="true" />

</head>
<body>


    <div class="form-container">
        <div class="content-wrapper">
            <h3>تفاصيل إضافية</h3>

            <table>
                <thead>
                    <tr>
                        <th>الوصف 1</th>
                        <th>الوصف 2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Descriptions)
                    {
                        <tr>
                            <td>@item.Description1</td>
                            <td>@item.Description2</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="actions">
                <a href="@Url.Action("ViewSubmission3", "Request", new { id = Model.FormId })">
                    <button type="button" class="arrow arrow-left" onclick="location.href='@Url.Action("Step1", "Request")'">
                        <img src="~/images/arrowL.png" alt="السابق" />
                    </button>
                </a>

                @if (User.IsInRole("ApplicationManager") && Model.LevelId == 6)
                {
                    <a asp-action="ApprovePage" asp-route-actionId="@Model.ActionId" asp-route-requestId="@Model.FormId">
                        <button type="submit" class="arrow arrow-right">
                            <img src="~/images/arrowR.png" alt="التالي" />
                        </button>
                    </a>
                }

                @if (User.IsInRole("ApplicationManager") && Model.LevelId == 4)
                {
                    <a asp-action="AnalyzerUsers" asp-route-requestId="@Model.FormId">
                        <button type="submit" class="arrow arrow-right">
                            <img src="~/images/arrowR.png" alt="التالي" />
                        </button>
                    </a>
                }

                @if (User.IsInRole("SectionManager") || User.IsInRole("DepartmentManager") || User.IsInRole("ITManager"))
                {

                    <a asp-action="ApprovePage" asp-route-actionId="@Model.ActionId" asp-route-requestId="@Model.FormId">
                        <button type="submit" class="arrow arrow-right">
                            <img src="~/images/arrowR.png" alt="التالي" />
                        </button>
                    </a>

                }

                @if (User.IsInRole("Analyzer"))
                {
                    <a asp-action="CaseStudy" asp-route-requestId="@Model.FormId">
                        <button type="submit" class="arrow arrow-right">
                            <img src="~/images/arrowR.png" alt="التالي" />
                        </button>
                    </a>
                }
                
            </div>
        </div>
    </div>
</body>
</html>
