@model DSAR.ViewModels.RequestViewModel

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <title>عرض الوصف التفصيلي</title>
    <link rel="stylesheet" href="~/css/StepDescreptionView.cSs" asp-append-version="true" />

</head>
<body>


    <div class="form-container">
        <div class="content-wrapper">
            <h3>صلاحيات المعتمدين</h3>

            <table>
                <thead>
                    <tr>
                        <th>الإدارة</th>
                        <th>اسم المعتمد</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Descriptions)
                    {
                        <tr>
                            <td>@item.Description1</td>
                            <td>@item.Description2</td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="button-footer">
                <button type="button"
                        class="btn-prev"
                        onclick="location.href='@Url.Action("ViewSubmission3", "Request", new { id = Model.RequestId })'">
                    السابق
                </button>
                <div class="btn-group-custom">
                    @* Role-based logic for "التالي" *@
                    @if (User.IsInRole("ApplicationManager") && Model.LevelId == 6)
                    {
                        <form method="get" asp-action="ApprovePage" asp-controller="Request">
                           @*  <input type="hidden" name="requestId" value="@Model.FormId" />
                            <input type="hidden" name="actionId" value="@Model.ActionId" />
                            <button type="submit" class="btn-next">التالي</button> *@
                            <a class="btn btn-primary" asp-action="ApprovePage" asp-route-requestId="@Model.RequestId" asp-route-actionId="@Model.ActionId">التالي</a>
                        </form>
                    }
                    else if (User.IsInRole("ApplicationManager") && Model.LevelId == 4)
                    {
                        
                             <a class="btn btn-primary" asp-action="AnalyzerUsers" asp-route-requestId="@Model.RequestId">التالي</a>

                        
                    }
                    else if (User.IsInRole("SectionManager") || User.IsInRole("DepartmentManager") || User.IsInRole("ITManager"))
                    {
                       
                            <a class="btn btn-primary" asp-action="ApprovePage" asp-route-requestId="@Model.RequestId" asp-route-actionId="@Model.ActionId">التالي</a>
                        
                    }
                    else if (User.IsInRole("Analyzer"))
                    {
                        
                            <a class="btn btn-primary" asp-action="CaseStudy" asp-route-requestId="@Model.RequestId">التالي</a>
                    }
                    else if (User.IsInRole("User"))
                    {
                        
                        <form method="post" asp-action="CancelRequest" asp-controller="Request" asp-route-actionId="@Model.ActionId">
                            @* <input type="hidden" name="requestId" value="@Model.FormId" />
                            <input type="hidden" name="actionId" value="@Model.ActionId" /> *@
                            <button type="submit" class="btn-next">الغاء الطلب</button>
                        </form>
                    }
                </div>
            </div>

</body>
</html>


